@media screen  and (max-width:750px){
  .wrap .center{
    width: 100%!important;
    padding-top: 1px;
  }
  .wrap .center .content .rowBox{
    margin: 0 10px;
  }
  .wrap .center .content .blockWrap{
    margin: 0 10px;
  }
  .wrap .center .content .blockWrap .cont_wrap{
    padding: 0!important;
    width: 100%!important;
    overflow-y: hidden!important;
  }
  .wrap .center .content .table .tbody .dataRow td{
    min-width: 60px;
  }
  .wrap .center .content .box_wrap{
    display: none!important;
  }
  .wrap .contentMobile{
    margin: 10px;
    min-height: 334px;
    background: #f7f5f2;
    display: block!important;
  }
  .wrap .contentMobile .cont_wrap{
    display: flex;
    justify-content: space-between;
  }
  .wrap .contentMobile .cont_wrap .photo{
    min-width: 180px;
  }
  .wrap .contentMobile .cont_wrap .photo img{
    width: 100%;
    object-fit: cover;
  }
  .wrap .contentMobile .cont_wrap .introduction{
    padding: 0 10px;
    box-sizing: border-box;
  }
  .wrap .contentMobile .cont_wrap .introduction .doctorName{
    font-weight: bold;
    font-size: 16px;
    color: #815b3f;
    margin: 10px 0;
  }
  .wrap .contentMobile .cont_wrap .introduction .row{
    font-size: 14px;
    color: #333;
    line-height: 1.5;
  }
  .wrap .contentMobile .cont_wrap .introduction .row .label{
    color: #999999;
  }
  .wrap .center .content .info{
    margin-left: 10px;
  }
  .wrap .loadMore{
    width: 95%;
    line-height: 30px;
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    color: #815b3f;
    border: 1px solid #815b3f;
    margin: 20px auto;
    display: block!important;
  }
  .wrap .center .content .blockWrap .top_back,.wrap .center .content .blockWrap .bottom_back{
    display: none;
  }
}
.wrap .contentMobile,.wrap .loadMore{
  display: none;
}
.wrap {
  width: 100%;
  background: url('../images/bg.jpg') no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.wrap .center {
    width: 1230px;
    margin: 30px auto 90px;
  }
  .wrap .center .Breadcrumb span ,  .wrap .center .Breadcrumb span a{
    font-size: 14px;
    color: #333333;
  }
  .wrap .center .Breadcrumb .black:hover, .wrap .center .Breadcrumb .black:hover a{
    color: #815b3f;
    cursor: pointer;
  }
  .wrap .center .content .box_wrap {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
  }
  .wrap .center .content .box_wrap .l_box {
    width: 290px;
    height: 380px;
    padding: 10px;
    box-sizing: border-box;
    background: url('../images/team_detail_1.png') no-repeat;
  }
  .wrap .center .content .box_wrap .l_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wrap .center .content .box_wrap .r_box {
    width: 940px;
    height: 380px;
    padding: 36px 60px 36px 36px;
    box-sizing: border-box;
    background: url('../images/team_detail_2.png') no-repeat;
  }
  .wrap .center .content .box_wrap .r_box .rowTitle{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-bottom: 30px;
  }
  .wrap .center .content .box_wrap .r_box .rowTitle .name{
    font-size: 28px;
    color: #815b3f;
    font-weight: bold;
  }
  .wrap .center .content .box_wrap .r_box .rowTitle .moreText{
    font-size: 16px;
    color: #333333;
    display: flex;
    align-items: center;
  }
  .wrap .center .content .box_wrap .r_box .rowTitle .moreText::after{
    width: 28px;
    height: 13px;
    content: '';
    display: block;
    background: url('../images/team_detail_3.png');
    margin-left: 13px;
  }
  .wrap .center .content .box_wrap .r_box .rowTitle .moreText:hover{
    cursor: pointer;
    color: #815b3f;
  }
  .wrap .center .content .box_wrap .r_box .block{
    display: flex;
    justify-content: space-between;
  }
  .wrap .center .content .box_wrap .r_box .block .left_cont{

  }
  .wrap .center .content .box_wrap .r_box .block .left_cont .row{
    line-height: 2;
    display: flex;
  }
  .wrap .center .content .box_wrap .r_box .block .left_cont .row .label{
    font-size: 16px;
    color: #999999;
  }
  .wrap .center .content .box_wrap .r_box .block .left_cont .row .val{
    width: 410px;
    font-size: 16px;
    color: #333333;
    margin-left: 10px;
  }

  .wrap .center .content .box_wrap .r_box .block .right_box .rowColumn{
    display: flex;
  }
    .wrap .center .content .box_wrap .r_box .block .right_box .rowColumn .box{
    width: 85px;  
    height: 84px;
    background: url('../images/box.png') no-repeat;
    background-size: 100% 100%;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-top: 75px;
  }
    .wrap .center .content .box_wrap .r_box .block .right_box .rowColumn .box:hover{
    background: url('../images/box_active.png') no-repeat;
  }
    .wrap .center .content .box_wrap .r_box .block .right_box .rowColumn .box p{
    width: 44px;
  }
  .wrap .center .content .rowBox .name {
    font-size: 22px;
    color: #333333;
    font-weight: bold;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
  }
  .wrap .center .content .rowBox .name::before{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: url('../images/l-icon.png');
    margin-right: 13px;
  }
  .wrap .center .content .rowBox .cont {
    font-size: 16px;
    color: #333333;
    text-indent: 2em;
  }
  .wrap .center .content .rowBox .cont .indent{
    text-indent: 2em;
    line-height: 2;
  }
  .wrap .center .content .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  .wrap .center .content .info .name {
    font-size: 22px;
    color: #333333;
    font-weight: bold;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
  }
  .wrap .center .content .info .name::before{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: url('../images/l-icon.png');
    margin-right: 13px;
  }
  .wrap .center .content .info .moreText {
    font-size: 16px;
    color: #333333;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .wrap .center .content .info .moreText::before{
    content: '';
    display: block;
    width: 23px;
    height: 16px;
    background: url('../images/tag.png');
    margin-right: 13px;
  }
  .wrap .center .content .info .hr{
    flex: 1;
    border-top: 1px solid #333333;
    margin: 0 10px;
  }
  .wrap .center .content .blockWrap .top_back{
    width: 100%;
    height: 24px;
    background: url('../images/new_top.png') no-repeat;
    background-size: 100% 100%;
  }
  .wrap .center .content .blockWrap .bottom_back{
    width: 100%;
    height: 24px;
    background: url('../images/new_bottom.png') no-repeat;
    background-size: 100% 100%;
  }
  .wrap .center .content .blockWrap .cont_wrap{
    background: url('../images/new_repeat.png') center repeat;
    background-size: 100% 100%;
    padding: 0 20px;
  }
  .wrap .center .content .table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    /* border-left: 1px solid #2c6557; */
    border-left: 1px solid #dadada;
    border-spacing: 0;
    cursor: pointer;
  }
  .wrap .center .content .table thead tr th {
    background: #086252;
    color: #fff;
    white-space: nowrap;
    border: 1px solid #dadada;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    padding: 10px 0;
  }
  .wrap .center .content .table thead tr th p{
    line-height: 1.2;
  }
  .wrap .center .content .table .tbody .dataRow {
    line-height: 48px;
    font-size: 14px;
  }
  .wrap .center .content .table .tbody .dataRow td:first-child{
    font-weight: bold;
    font-size: 16px;
    background: #086252;
    color: #fff;
  }
  .wrap .center .content .table .tbody .dataRow td {
    text-align: center;
    border: 1px solid #dadada;
    vertical-align: middle;
  }
  .wrap .center .content .table .tbody .dataRow .text{
    color: #2bb902;
  }
  .wrap .center .content .table .tbody .dataRow .operation {
    background: #fff;
  }
  .wrap .center .content .table .tbody .dataRow .operation .btn {
    width: 80px;
    line-height: 32px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    border: none;
    outline: 0;
    color: #fff;
    background: #6a3f24;
    cursor: pointer;
  }
  .wrap .center .content .table .tbody .dataRow .operation .btn.default{
    cursor: not-allowed;
    color: #fff;
    background: #ccc;
  }
  .wrap .center .content .table .tbody .dataRow .operation .msg {
    background: #004438;
  }
  .wrap .center .content .table .tbody .dataRow:nth-child(2n) {
    background: #f2f2f2;
  }