.wrap{
    width: 100%;
    background: url('../images/bg.jpg') no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .wrap .center {
    width: 1230px;
    margin: 30px auto;
  }
  .wrap .center .Breadcrumb span {
    font-size: 14px;
    color: #333333;
  }
  .wrap .center .Breadcrumb .black:hover {
    color: #815b3f;
    cursor: pointer;
  }
  /* .wrap .center .content .rowTitle {
    font-size: 32px;
    font-weight: bold;
    font-family: 'St';
    padding: 46px 0 20px 0;
    text-align: center;
  } */
  .wrap .center .content .row_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 33px 0 41px 0;
  }
  .wrap .center .content .row_title .imgs {
    width: 24px;
    height: 40px;
  }
  .wrap .center .content .row_title .imgs img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .wrap .center .content .row_title .name {
    font-size: 32px;
    font-weight: bold;
    color: #575757;
    padding: 0 40px;
    cursor: pointer;
    font-family: 'St';
  }
  .wrap .center .content .formSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0 ;
  }
  .wrap .center .content .formSearch .filed{
    margin-right: 10px;
  }
  .wrap .center .content .formSearch .filed .inp{
    width: 215px;
    height: 40px;
    background: url('../images/inp_back.png') no-repeat;
    background-size: 100% 100%;
    border:none;
    outline: 0;
    padding: 0 21px;
  }
  .wrap .center .content .formSearch .filed .select{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  .wrap .center .content .formSearch .filed .select .selectModal{
    position: absolute;
    top: 40px;
    width: 228px;
    height: 180px;
    overflow: auto;
    max-height: 200px;
    background: #fff;
    left: 20px;
    /* display: none; */
    border: 1px solid #8b7b7c;
    padding: 0 14px;
    box-sizing: border-box;
  }
  .wrap .center .content .formSearch .filed .select .selectModal .subject{
    font-size: 14px;
    color: #999999;
    margin-top: 20px;
  }.wrap .center .content .formSearch .filed .select .selectModal ul li{
    font-size: 14px;
    color: #333333;
    line-height: 2;
  }
  .wrap .center .content .formSearch .filed .select .selectModal.active{
    display: block;
    transition: all 2s ease-in;
  }
  .wrap .center .content .formSearch .filed .select input{
    display: inline-block;
    flex: 1;
    background: #fff;
  }
  .wrap .center .content .formSearch .filed .select .bottom_icon{
    width: 17px;
    height: 9px;
    background: url('../images/bottom_icon.png') no-repeat;
  }
  .wrap .center .content .formSearch .filed .btn{
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: none;
    background: url('../images/button.jpg') no-repeat;
    background-size: 100% 100%;
    font-size: 18px;
    color: #edded3;
    margin-left: 10px;
    
  }
.wrap .center .content .classWrap{
  width: 100%;
  /* height: 236px; */
  box-sizing: border-box;
  border: 1px solid #bfae95;
  margin-top: 30px;
  background: #f9f7f4;
  padding: 0 30px;
  box-sizing: border-box;
}
.wrap .center .content .classWrap .boxTop{
  margin-top: 39px;
  border-bottom: 1px dashed #eee4d6;
  display: flex;
}
.wrap .center .content .classWrap .boxTop .label{
  font-size: 16px;
  color: #999999;
  margin-right: 29px;
}
.wrap .center .content .classWrap .boxTop .rightBox{
  flex: 1;
}
.wrap .center .content .classWrap .boxTop .rightBox .tabs{
  width: 100%;
  border-bottom: 2px solid #eee4d6;
  display: flex;
}
.wrap .center .content .classWrap .boxTop .rightBox .tabs .tab{
  width: 64px;
  font-size: 16px;
  color: #666666;
  margin-right: 41px;
  cursor: pointer;
  padding-bottom: 15px;
  border-bottom: 4px solid transparent;
}
.wrap .center .content .classWrap .boxTop .rightBox .block{
  /* display: none; */
}
.wrap .center .content .classWrap .boxTop .rightBox .tabContent{
  /* width: 950px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 24px;
}
.wrap .center .content .classWrap .boxTop .rightBox .tabContent .depart_text{
  font-size: 14px;
  color: #666666;
  margin: 18px 0 8px;
  margin-right: 2%;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
}
.wrap .center .content .classWrap .boxTop .rightBox .tabContent .depart_text:hover{
  color: #815b3f;
}
.wrap .center .content .classWrap .boxTop .rightBox .tabContent .depart_text.active{
  /* width: 92px; */
  line-height: 24px;
  background: #d7d7d7;
  text-align: center;
  padding: 0 8px;
}
.wrap .center .content .classWrap .boxTop .rightBox .tabs .tab.active{
  color: #815b3f;
  border-bottom: 4px solid #815b3f;
}
.wrap .center .content .classWrap .boxBottom{
  margin: 24px 0;
  display: flex;
}
.wrap .center .content .classWrap .boxBottom .label{
  font-size: 16px;
  color: #999999;
  margin-right: 29px;
}
.wrap .center .content .classWrap .boxBottom .tabContent{
  display: flex;
  align-items: center;
}
.wrap .center .content .classWrap .boxBottom .tabContent .depart_text{
  font-size: 14px;
  color: #666666;
  margin-right: 24px;
  cursor: pointer;
}
.wrap .center .content .classWrap .boxBottom .tabContent .depart_text.active{
  width: 92px;
  line-height: 24px;
  background: #d7d7d7;
  text-align: center;
}
.wrap .center .content .rowSel{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 32px;
}
.wrap .center .content .rowSel .label{
  font-size: 16px;
  color: #999999;
  margin-right: 28px;
}
.wrap .center .content .rowSel .rightText{
  color: #999999;
  font-size: 16px;
}
.wrap .center .content .rowSel ul {
  display: flex;
  align-items: center;
}
.wrap .center .content .rowSel ul li{
  /* width: 96px; */
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  background: #815b3f;
  border-radius: 3px;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  margin-right: 10px;
  /* cursor: pointer; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .center .content .rowSel ul li .close{
  width: 8px;
  height: 8px;
  display: inline-block;
  background: url('../images/min_close.png');
  margin-left: 5px;
  cursor: pointer;
}
  .wrap .center .content .row_inp {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap .center .content .row_inp .inp {
    width: 250px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    outline: 0;
    border: 1px solid #cccccc;
    padding: 0 10px;
    margin-right: 10px;
  }
  .wrap .center .content .row_inp .btn {
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    outline: 0;
    background: #6a3f24;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .wrap .center .content .headPhoto {
    display: flex;
    justify-content: space-between;
    /* padding: 50px 0; */
    padding: 50px 0 20px 0;
    flex-wrap: wrap;
  }
  .wrap .center .content .headPhoto .box .block .hover:hover .box_child{
    display: none;
  }
  .wrap .center .content .headPhoto .box .block .hover:hover .box_active_wrap{
    display: block;
    margin-left: 5px;
  }
  /* .wrap .center .content .headPhoto .box:hover .box_child {
    display: none;
  }
  .wrap .center .content .headPhoto .box:hover .box_active_wrap {
    display: block;
  } */
  .wrap .center .content .headPhoto .box {
    width: 190px;
    height: 392px;
    background: #fff;
    padding: 5px 0;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .wrap .center .content .headPhoto .box .block{
    /* margin: 5px; */
  }
  .wrap .center .content .headPhoto .fake_item{
    flex: 0 0 190px;
    height: 0;
  }
  .wrap .center .content .headPhoto .box .box_child {
    width: 180px;
    height: 295px;
    margin: 0 auto;
    display: block;
    text-align: center;
    background: url('../images/info_border.png') no-repeat;
    background-size: 100% 100%;
  }
  .wrap .center .content .headPhoto .box .box_child .pad{
    padding: 17px;
  }
  .wrap .center .content .headPhoto .box .box_child .img {
    width: 140px;
    height: 196px;
    margin: 0 auto;
  }
  .wrap .center .content .headPhoto .box .box_child .img img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
  }
  .wrap .center .content .headPhoto .box .box_child .name {
    font-size: 20px;
    color: #815b3f;
    padding-top: 12px;
  }
  .wrap .center .content .headPhoto .box .box_child .position {
    font-size: 14px;
    color: #999999;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 146px;
  }
  .wrap .center .content .headPhoto .box .box_active_wrap{
    width: 185px;
    height: 295px;
    display: none;
    margin: 0 auto;
    background: url('../images/b-border.jpg') no-repeat;
  }
  .wrap .center .content .headPhoto .box .box_active {
    
  }
  .wrap .center .content .headPhoto .box .box_active .descWrap{
    padding: 20px;
    width: 145px;
    height: 230px;
    overflow: hidden;
  }
  .wrap .center .content .headPhoto .box .box_active .title {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin: 10px 0;
  }
  .wrap .center .content .headPhoto .box .box_active .text {
    font-size: 14px;
    color: #edded3;
  }
  .wrap .center .introduce .headPhoto .box .box_active .ellipsis{
    width: 145px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
  .wrap .center .content .headPhoto .box .back_bord {
    /* border: 1px solid #815b3f; */
    padding: 3px;
    margin: 5px 0;
  }
  .wrap .center .content .headPhoto .box .back_bord .back {
    width: 180px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    color: #333333;
    /* background: url('../images/未标题-12.png') no-repeat; */
    background: url('../images/info_back.png') no-repeat;
    background-size: 100% 100%;
  }
  .wrap .center .content .headPhoto .box .back_bord .back:hover{
    color: #815b3f;
    background: url('../images/info_back_active.png') no-repeat;
  }
  .wrap .center .content .headPhoto .box .back_row {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 9px;
  }
  .wrap .center .content .headPhoto .box .back_row .cel_o {
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    /* background: url('../images/未标题-13.png') no-repeat; */
    background: url('../images/left_name.png') no-repeat;
  }
  .wrap .center .content .headPhoto .box .back_row .cel_o:hover{
    background: url('../images/left_name_active.png') no-repeat;
  }
  .wrap .center .content .headPhoto .box .back_row .cel_t {
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    /* background: url('../images/未标题-14.png') no-repeat; */
    background: url('../images/right_name.png') no-repeat;
  }
  .wrap .center .content .headPhoto .box .back_row .cel_t:hover{
    background: url('../images/right_name_active.png') no-repeat;
  }
  .wrap .center .paging {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .wrap .center .paging .total {
    width: 64px;
    height: 36px;
    line-height: 36px;
    background: #f1eff0;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #cccccc;
  }
  .wrap .center .paging .icon_left,
  .wrap .center .paging .num,
  .wrap .center .paging .icon_right {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 5px;
    background: #f1eff0;
    font-size: 14px;
    border: 1px solid #cccccc;
    margin-left: 5px;
    color: #999999;
  }
  .wrap .center .paging .num.active {
    color: #333333;
    border: 1px solid #614130;
  }
  .wrap .center .paging .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap .center .paging .icon img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .wrap .center .paging .inp {
    width: 72px;
    margin-left: 5px;
  }
  .wrap .center .paging .inp input {
    width: 72px;
    height: 36px;
    outline: 0;
    border: 1px solid #cccccc;
    text-align: center;
    border-radius: 5px;
  }
  .wrap .center .paging .btn {
    width: 64px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #f1eff0;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-left: 10px;
    color: #999999;
  }
  