@media screen and (max-width: 1440px) {
  .swiper-button-next{
    right: 0%!important;
  }
  .swiper-button-prev{
    left: 0%!important;
  }
  .wrap .banner{
    height: 500px!important;
  }
}
.wrap {
    width: 100%;
    height: 100%;
  }
  .wrap .spacing {
    width: 1230px;
    margin: 0 auto;
  }
  .wrap .padding {
    padding: 12px 100px;
  }
  .wrap .banner {
    width: 100%;
    height: 578px;
  }
  .wrap .banner .swiper-container {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .wrap .banner .swiper-container .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wrap .banner .swiper-container .swiper-pagination {
    bottom: 100px;
  }
  .wrap .banner .swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    margin: 0 10px;
    opacity: 1!important;
  }
  .wrap .banner .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
    width: 50px;
    height: 12px;
    background: #815b3f;
    border-radius: 6px;
  }
  .wrap .banner .swiper-container .swiper-button-prev{
    background: url('../images/left.png') no-repeat !important;
    background-size: 100% 100%;
  }
  .wrap .banner .swiper-container .swiper-button-next{
    background: url('../images/right.png') no-repeat !important;
    background-size: 100% 100%;
  }
  .swiper-button-next, .swiper-button-prev{
    width: 55px!important;
    height: 17px!important;
    top: -100px!important;
  }
  .swiper-button-next{
    right: 0%;
  }
  .swiper-button-prev{
    left: 0%;
  }
  .wrap .center {
    padding: 72px 0;
    background: url('../images/c-back.jpg') repeat;
  }
  .wrap .center .module {
    display: flex;
    justify-content: space-between;
  }
  .wrap .center .module .box {
    width: 179px;
    height: 180px;
    background: url('../images/未标题-2.png') no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap .center .module .box:hover{
    cursor: pointer;
    background: url('../images/c-active.png') no-repeat;
  }
  .wrap .center .module .box .box_child .imgs {
    width: 61px;
    height: 61px;
    margin: 0 auto;
  }
  .wrap .center .module .box .box_child .imgs img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .wrap .center .module .box .box_child .text {
    font-size: 18px;
    color: #ffffff;
    padding-top: 12px;
    font-weight: bold;
  }
  .wrap .center .News {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
  }
  .wrap .center .News .left_box {
    width: 750px;
    margin-right: 50px;
    
  }
  .wrap .center .News .left_box .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrap .center .News .left_box .row .l_name {
    width: 380px;
    font-size: 32px;
    font-weight: bold;
    color: #815b3f;
    cursor: pointer;
  }
  .wrap .center .News .left_box .row .list_text {
    display: flex;
  }
  .wrap .center .News .left_box .row .list_text .back {
    width: 91px;
    line-height: 30px;
    text-align: center;
    color: #815b3f;
    font-size: 16px;
    cursor: pointer;
  }
  .wrap .center .News .left_box .row .list_text .back.active {
    color: #ffffff;
    background: url('../images/news_tab.png') no-repeat;
    background-size: 100% 100%;
  }
  .wrap .center .News .left_box .cont {
    margin-top: 35px;
    display: none;
  }
  .wrap .center .News .left_box .cont.active{
    display: block;
  }
  .wrap .center .News .left_box .cont .banner_wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
  }
  /* .wrap .center .News .left_box .cont .banner_wrap .bannerChild {
    width: 360px;
    height: 215px;
    background: #ccc;
    margin-right: 20px;
    overflow: hidden;
  } */
  .wrap .center .News .left_box .cont .banner_wrap .swiper-container-child,.swiper-container-child{
    width: 750px;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .wrap .center .News .left_box .cont .banner_wrap .swiper-container-child .swiper-slide{
    display: flex;
  }
  .wrap .center .News .left_box .cont .banner_wrap .swiper-container-child .swiper-slide .bannerChild {
    width: 360px;
    height: 210px;
    background: #ccc;
    margin-right: 20px;
    overflow: hidden;
  }
  .wrap .center .News .left_box .cont .banner_wrap .swiper-container-child .swiper-slide .bannerChild img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .banner_wrap .swiper-pagination-bullets{
    width: 360px;
    text-align: right;
  }
  .swiper-pagination-bullet{
    width: 25px;
    height: 6px;
    border-radius: 0;
    background: #ffffff;
    opacity: 1!important;
  }
  .swiper-pagination-bullet-active{
    background: #815b3f;
  }
  .wrap .center .News .left_box .cont .banner_wrap{
    cursor: pointer;
  }
  .wrap .center .News .left_box .cont .banner_wrap .r_desc {
    width: 370px;
  }
  .wrap .center .News .left_box .cont .banner_wrap .r_desc .title {
    font-size: 22px;
    font-weight: bold;
    color: #333333;
    width: 370px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    min-height: 60px;
  }
  .wrap .center .News .left_box .cont .banner_wrap .r_desc .title:hover{
    color: #815b3f;
    cursor: pointer;
  }
  .wrap .center .News .left_box .cont .banner_wrap .r_desc .time {
    font-size: 14px;
    color: #815b3f;
    padding: 18px 0;
    /* padding: 24px 0 30px 0; */
  }
  .wrap .center .News .left_box .cont .banner_wrap .r_desc .desc {
    text-align: left;
    font-size: 14px;
    color: #999999;
    width: 370px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
  .wrap .center .News .left_box .cont .row_wrap {
    display: flex;
    align-items: center;
    margin-top: 16px;
    cursor: pointer;
  }
  .wrap .center .News .left_box .cont .row_wrap:hover .block{
    color: #815b3f;
    cursor: pointer;
    background: url('../images/left_icon1_active.png') no-repeat;
  }
  .wrap .center .News .left_box .cont .row_wrap:hover .desc{
    color: #815b3f;
    cursor: pointer;
  }
  .wrap .center .News .left_box .cont .row_wrap .block {
    width: 55px;
    height: 55px;
    /* border: 1px solid #999999; */
    background: url('../images/left_icon1.png') no-repeat;
    text-align: center;
    color: #999999;
    margin-right: 13px;
  }
  .wrap .center .News .left_box .cont .row_wrap .block .weight {
    font-size: 24px;
    font-weight: bold;
  }
  .wrap .center .News .left_box .cont .row_wrap .block .time {
    font-size: 11px;
  }
  .wrap .center .News .left_box .cont .row_wrap .desc {
    width: 695px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    color: #333333;
  }
  .wrap .center .News .right_box {
    width: 480px;
  }
  .wrap .center .News .right_box .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrap .center .News .right_box .row .l_name {
    font-size: 32px;
    font-weight: bold;
    color: #815b3f;
    cursor: pointer;
  }
  .wrap .center .News .right_box .row .list_text {
    display: flex;
  }
  .wrap .center .News .right_box .row .list_text .back {
    width: 91px;
    line-height: 30px;
    text-align: center;
    color: #815b3f;
    font-size: 16px;
    cursor: pointer;
  }
  .wrap .center .News .right_box .row .list_text .back.active {
    color: #ffffff;
    background: url('../images/news_tab.png') no-repeat;
    background-size: 100% 100%;
  }
  .wrap .center .News .right_box .cont {
    margin-top: 35px;
    display: none;
  }
  .wrap .center .News .right_box .cont.active{
    display: block;
  }
  .wrap .center .News .right_box .cont .box {
    padding: 18px 16px;
    background: #fff;
    margin-bottom: 10px;
    box-shadow: 1px 0px 10px rgb(34 23 20 / 20%);
    border-radius: 5px;
    cursor: pointer;
    height: 116px;
    box-sizing: border-box;
  }
  .wrap .center .News .right_box .cont .box .time {
    font-size: 22px;
    font-weight: bold;
    color: #999999;
    margin-bottom: 10px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
  }
  .wrap .center .News .right_box .cont .box:hover .time,
  .wrap .center .News .right_box .cont .box:hover .text {
    color: #815b3f;
  }
  .wrap .center .News .right_box .cont .text {
    color: #333333;
    width: 398px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 18px;
  }
  .wrap .center .department .row_title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap .center .department .row_title .imgs {
    width: 24px;
    height: 40px;
  }
  .wrap .center .department .row_title .imgs img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .wrap .center .department .row_title .name {
    font-size: 32px;
    font-weight: bold;
    color: #815b3f;
    padding: 0 40px;
    cursor: pointer;
  }
  .wrap .center .department .cont {
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
  }
  .wrap .center .department .cont .fixedBox{
    width: 425px;
    height: 310px;
  }
  .wrap .center .department .cont .img_wrap {
    width: 425px;
    height: 310px;
    /* background: url('../images/depart.png'); */
    position: relative;
    /* display: none; */
  }
  .wrap .center .department .cont .img_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wrap .center .department .cont .img_wrap .mantle{
    position: absolute;
    bottom: 0;
    width: 425px;
    height: auto;
    /* height: 90px; */
    background: rgba(0, 0, 0, .4);
  }
  .wrap .center .department .cont .img_wrap .mantle .text_cont{
    padding: 17px ;
    color: #fff;
  }
  .wrap .center .department .cont .img_wrap .mantle .text_cont .title{
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .wrap .center .department .cont .img_wrap .mantle .text_cont .desc{
    font-size: 12px;
    line-height: 2;
    width: 391px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .wrap .center .department .cont .departList {
    width: 788px;
  }
  .wrap .center .department .cont .departList .tabs {
    display: flex;
  }
  .wrap .center .department .cont .departList .tabs .tab {
    width: 92px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    color: #815b3f;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
  }
  .wrap .center .department .cont .departList .tabs .tab.active {
    color: #fff;
    background: url('../images/head_tab.png') no-repeat;
    background-size: 100% 100%;
  }
  .wrap .center .department .cont .departList .d_right{
    display: flex;
    align-items: center;
  }
  .wrap .center .department .cont .departList .d_right .solid{
    width: 456px;
    height: 2px;
    background: #815b3f;
  }
  .wrap .center .department .cont .departList .d_right .more{
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    color: #333333;
    padding-left:36px;
    background: url('../images/tag1.png') center left no-repeat;
  }
  .wrap .center .department .cont .departList .d_right .more:hover{
    cursor: pointer;
    background: url('../images/tag.png') center left no-repeat;
    color: #815b3f;
  }
  .wrap .center .department .cont .departList .ulsWrap{
    display: none;
  }
  .wrap .center .department .cont .departList .uls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .wrap .center .department .cont .departList .ulsWrap.active{
    display: block;
  }
  .wrap .center .department .cont .departList .uls::after{
    content: '';
    width: 146px;
  }
  .wrap .center .department .cont .departList .uls::after{
    content: '';
    width: 146px;
  }
  .wrap .center .department .cont .departList .uls .lis {
    width: 146px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #333333;
    margin-top: 15px;
    background: url('../images/depart_icon.png') no-repeat;
    cursor: pointer;
  }
  .wrap .center .department .cont .departList .uls .lis_fack_item{
    flex: 0 0 146px;
    height: 0;
  }
  .wrap .center .department .cont .departList .uls .lis span{
    display: inline-block;
    width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .wrap .center .department .cont .departList .uls .fake_item{
    background-color: #52B948;
    flex: 0 0 146px;
    height: 0px;
  }
  /* .wrap .center .department .cont .departList .uls .lis:hover{
    color: #815b3f;
    background: url('../images/depart_icon_active.png') no-repeat;
  } */
  .wrap .center .department .cont .departList .uls .lis.active {
    color: #815b3f;
    background: url('../images/depart_icon_active.png') no-repeat;
  }
  .wrap .center .department .imgList {
    display: flex;
    justify-content: space-between;
  }
  .wrap .center .department .imgList .box {
    width: 294px;
    height: 160px;
    text-align: center;
    line-height: 160px;
    font-size: 22px;
    color: #fff;
    /* background: url('../images/未标题-11.png') no-repeat; */
    cursor: pointer;
  }
  .wrap .center .department .imgList .back_1{
    background: url('../images/back1.jpg') no-repeat;
  }
  .wrap .center .department .imgList .back_2{
    background: url('../images/back2.jpg') no-repeat;
  }
  .wrap .center .department .imgList .back_3{
    background: url('../images/back3.jpg') no-repeat;
  }
  .wrap .center .department .imgList .back_4{
    background: url('../images/back4.jpg') no-repeat;
  }
  .wrap .center .introduce {
    padding-top: 80px;
  }
  .wrap .center .introduce .headPhoto {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }
  .wrap .center .introduce .headPhoto .box .block .hover:hover .box_child{
    display: none;
  }
  .wrap .center .introduce .headPhoto .box .block .hover:hover .box_active_wrap{
    display: block;
    margin-left: 5px;
  }
  /* .wrap .center .introduce .headPhoto .box:hover .box_child {
    display: none;
  }
  .wrap .center .introduce .headPhoto .box:hover .box_active_wrap {
    display: block;
  } */
  .wrap .center .introduce .headPhoto .box {
    width: 190px;
    height: 392px;
    background: #fff;
    padding-top: 5px;
    cursor: pointer;
  }
  .wrap .center .introduce .headPhoto .box .block{
    /* margin: 5px; */
  }
  .wrap .center .introduce .headPhoto .box .box_child {
    width: 180px;
    height: 295px;
    margin: 0 auto;
    display: block;
    text-align: center;
    background: url('../images/info_border.png') no-repeat;
    background-size: 100% 100%;
  }
  .wrap .center .introduce .headPhoto .box .box_child .pad{
    padding: 17px;
  }
  .wrap .center .introduce .headPhoto .box .box_child .img {
    width: 140px;
    height: 196px;
    margin: 0 auto;
  }
  .wrap .center .introduce .headPhoto .box .box_child .img img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
  }
  .wrap .center .introduce .headPhoto .box .box_child .name {
    font-size: 20px;
    color: #815b3f;
    padding-top: 12px;
  }
  .wrap .center .introduce .headPhoto .box .box_child .position {
    font-size: 14px;
    color: #999999;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 146px;
  }
  .wrap .center .introduce .headPhoto .box .box_active_wrap{
    width: 185px;
    height: 295px;
    display: none;
    margin: 0 auto;
    background: url('../images/b-border.jpg') no-repeat;
  }
  .wrap .center .introduce .headPhoto .box .box_active {
    
  }
  .wrap .center .introduce .headPhoto .box .box_active .descWrap{
    padding: 20px;
    width: 145px;
    height: 230px;
    overflow: hidden;
  }
  .wrap .center .introduce .headPhoto .box .box_active .title {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin: 10px 0;
  }
  .wrap .center .introduce .headPhoto .box .box_active .text {
    font-size: 14px;
    color: #edded3;
  }
  .wrap .center .introduce .headPhoto .box .box_active .ellipsis{
    width: 145px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
  .wrap .center .introduce .headPhoto .box .back_bord {
    /* border: 1px solid #815b3f; */
    padding: 3px;
    margin: 5px 0;
  }
  .wrap .center .introduce .headPhoto .box .back_bord .back {
    width: 180px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    color: #333333;
    /* background: url('../images/未标题-12.png') no-repeat; */
    background: url('../images/info_back.png') no-repeat;
    background-size: 100% 100%;
  }
  .wrap .center .introduce .headPhoto .box .back_bord .back:hover{
    color: #815b3f;
    background: url('../images/info_back_active.png') no-repeat;
  }
  .wrap .center .introduce .headPhoto .box .back_row {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .wrap .center .introduce .headPhoto .box .back_row .cel_o {
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    /* background: url('../images/未标题-13.png') no-repeat; */
    background: url('../images/left_name.png') no-repeat;
  }
  .wrap .center .introduce .headPhoto .box .back_row .cel_o:hover{
    background: url('../images/left_name_active.png') no-repeat;
  }
  .wrap .center .introduce .headPhoto .box .back_row .cel_t {
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    /* background: url('../images/未标题-14.png') no-repeat; */
    background: url('../images/right_name.png') no-repeat;
  }
  .wrap .center .introduce .headPhoto .box .back_row .cel_t:hover{
    background: url('../images/right_name_active.png') no-repeat;
  }
  .wrap .center .introduce .ul_wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .wrap .center .introduce .ul_wrap li {
    width: 307px;
    height: 270px;
    /* background: url('../images/未标题-16.png') no-repeat; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background-size: 100% 100%;
  }
  .wrap .center .introduce .ul_wrap li .box{
    margin: 40px 0 0 30px;
  }
  .wrap .center .introduce .ul_wrap li:nth-child(1){
    background: url('../images/bottom1.jpg');
  }
  .wrap .center .introduce .ul_wrap li:nth-child(2){
    background: url('../images/bottom2.jpg');
  }
  .wrap .center .introduce .ul_wrap li:nth-child(3){
    background: url('../images/bottom3.jpg');
  }
  .wrap .center .introduce .ul_wrap li:nth-child(4){
    background: url('../images/bottom4.jpg');
  }
  .wrap .center .introduce .ul_wrap li .box .name{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
  .wrap .center .introduce .ul_wrap li .box .name.active{
    color: #815b3f;
  }
  .wrap .center .introduce .ul_wrap li .box .more.active{
    border: 0;
    background: #815b3f;
  }
  .wrap .center .introduce .ul_wrap li .box .more:hover{
    border: none;
    color: #fff!important;
    background: #815b3f;
  }
  .wrap .center .introduce .ul_wrap li .box .more.d-active{
    color: #815b3f;
    border: 1px solid #815b3f;
  }
  .wrap .center .introduce .ul_wrap li .box .more{
    width: 150px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-top: 25px;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
  }
  .wrap .footer {
    background: #272320;
  }
  .wrap .footer .top {
    padding: 34px 0;
    border-bottom: 1px solid #3e3e3e;
  }
  .wrap .footer .top .box {
    width: 1230px;
    margin: 0 auto;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
  }
  .wrap .footer .top .box .solid{
    color: #fff;
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
  }
  .wrap .footer .top .box .write {
    color: #ffffff;
  }
  .wrap .footer .top .box .black:hover{
    color: white;
    cursor: pointer;
  }
  .wrap .footer .top .box .black {
    color: #9e9692;
  }
  .wrap .footer .top .box .left {
    display: inline-block;
    /* margin-left: 22px; */
  }
  .wrap .footer .top .box .back {
    display: inline-block;
    width: 52px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    float: right;
    background: url('../images/未标题-3.png') no-repeat;
  }
  .wrap .footer .bottom {
    padding: 33px 0;
  }
  .wrap .footer .bottom .box {
    width: 1230px;
    margin: 0 auto;
  }
  .wrap .footer .bottom .box .flex_row {
    display: flex;
    justify-content: space-between;
  }
  .wrap .footer .bottom .box .flex_row .left {
    width: 20%;
  }
  .wrap .footer .bottom .box .flex_row .left p {
    font-size: 14px;
    color: #9e9692;
    padding-bottom: 17px;
    cursor: pointer;
  }
  .wrap .footer .bottom .box .flex_row .right p {
    text-align: right;
    font-size: 14px;
    color: #9e9692;
    padding-bottom: 17px;
    cursor: pointer;
  }
  
  .swiper-container1{
    width: 1230px;
    margin: 0 auto;
    overflow: hidden;
  }

  .swiper-pagination1{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }