@media screen and (max-width:750px) {
  .wrap .center .container .tabs{
    margin: 0 10px!important;
  }
  .wrap .center .container .tabs .tab.text{
    width: 285px!important;
    height: 36px!important;
    line-height: 36px!important;
  }
  .wrap .center .container .tabs .tab{
    margin-right: 10px!important;
  }
  .wrap .center .container .tabs .tab:last-child{
    margin-right: 0;
  }
  .wrap .center .container .content .NoticeBody{
    margin-top: 20px!important;
  }
}
.wrap {
  width: 100%;
  background: url('../images/bg.jpg') no-repeat;
  background-position: center;
  background-attachment: fixed;
}
  .wrap .center {
    width: 1230px;
    margin: 30px auto;
    padding-bottom: 50px;
  }
  .wrap .center .Breadcrumb span,   .wrap .center .Breadcrumb span a{
    font-size: 14px;
    color: #333333;
  }
  .wrap .center .Breadcrumb .black:hover,  .wrap .center .Breadcrumb .black:hover a {
    color: #704c2f;
    cursor: pointer;
  }
  .wrap .center .container .row_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }
  .wrap .center .container .row_title .imgs {
    width: 24px;
    height: 40px;
  }
  .wrap .center .container .row_title .imgs img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .wrap .center .container .row_title .name {
    font-size: 32px;
    font-weight: bold;
    color: #575757;
    padding: 0 40px;
    cursor: pointer;
    font-family: 'St';
  }
  .wrap .center .container .tab_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrap .center .container .tab_wrap .icon {
    width: 15px;
    height: 27px;
    cursor: pointer;
  }
  .wrap .center .container .tab_wrap .left_icon{
    background: url('../images/left-icon-active.png') no-repeat;

    background-size: 100% 100%;
  }
  .wrap .center .container .tab_wrap .left_icon.prev_active{
    /* background: url('../images/left-icon-active.png') no-repeat; */
    background: url('../images/left-icon.png') no-repeat;
    background-size: 100% 100%;
  }
  .wrap .center .container .tab_wrap .right_icon{
    background: url('../images/icon-right.png') no-repeat;
    background-size: 100% 100%;
  }
  .wrap .center .container .tab_wrap .right_icon.next_active{
    background: url('../images/right-icon-active.png') no-repeat;
    background-size: 100% 100%;
  }
  .wrap .center .container .tab_wrap .icon img {
    width: 100%;
    height: 100%;
  }
  .wrap .center .container .tab_wrap .swiper-container {
    flex: 1;
    height: 84px;
    margin: 0 25px;
  }
  .wrap .center .container .tab_wrap .swiper-container .swiper-wrapper {
    display: flex;
  }
  .wrap .center .container .tab_wrap .swiper-container .swiper-wrapper .swiper-slide {
    width: 220px !important;
    height: 84px;
    line-height: 84px;
    font-size: 22px;
    color: #815b3f;
    background: url('../images/twoTab_active.jpg') no-repeat;
    /* background: url('../images/tab-.png') no-repeat; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 10px !important;
  }
  .wrap .center .container .tab_wrap .swiper-container .swiper-wrapper .swiper-slide .img {
    width: 54px;
    height: 53px;
    margin-bottom: 5px;
  }
  .wrap .center .container .tab_wrap .swiper-container .swiper-wrapper .swiper-slide .img img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .wrap .center .container .tab_wrap .swiper-container .swiper-wrapper .swiper-slide.active {
    /* background: url('../images/tab-active.png') no-repeat; */
    color: #ffffff;
    background: url('../images/twoTab.jpg') no-repeat;
  }
  .wrap .center .container .tab_wrap .tabs {
    flex: 1;
    display: flex;
    height: 84px;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 25px;
    transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    transition-duration: 0ms;
    transform: translate(0px, 0px) translateZ(0px);
  }
  .wrap .center .container .tab_wrap .tabs .tab {
    width: 18%;
    height: 160px;
    font-size: 16px;
    color: #ffffff;
    background: url('../images/tab-.png') no-repeat;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .wrap .center .container .tab_wrap .tabs .tab .img {
    width: 54px;
    height: 53px;
    margin-bottom: 5px;
  }
  .wrap .center .container .tab_wrap .tabs .tab .img img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .wrap .center .container .tab_wrap .tabs .tab.active {
    background: url('../images/tab-active.png') no-repeat;
  }

  
  .wrap  .container .content .download{
    margin-top: 20px;
  }
  .wrap  .container .content .download .row{
    display: flex;
    align-items: center;
    padding: 19px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  .wrap  .container .content .download .row::before{
    width: 24px;
    height: 24px;
    background: url('../images/shu_icon.png') no-repeat;
    content: '';
    display: block;
  }
  .wrap  .container .content .download .row .name{
    font-size: 20px;
    color: #333333;
    flex: 1;
    margin-left: 18px;
  }
  .wrap  .container .content .download .row:hover .name{
    color: #815b3f;
  }
  .wrap  .container .content .download .row .btn{
    width: 110px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    background: #815b3f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
  }
  .wrap  .container .content .download .row .btn .icon{
    width: 20px;
    height: 20px;
    background: url('../images/down_icon.png');
  }
  .wrap  .container .content .download .row:hover .btn{
    background: #6a3f24;
  }
  