@media screen  and (max-width:750px){
  .wrap .center {
    width: 100%!important;
    padding-top: 1px;
  }
  .wrap .center .container .row_title .name{
    font-size: 26px!important;
    padding: 0 15px!important;
  }
  .wrap .center .container .row_title .imgs{
    width: 18px!important;
    height: 30px!important;
  }
  .wrap .center .container .content_wrap .content .lCont .box:first-child{
    border-top: 1px solid #cccccc;
  }
  .wrap .center .container .content_wrap .content .lCont .box{
    height: 150px!important;
    padding: 0px!important;
  }
  .wrap .content_wrap .pagePC{
    display: none!important;
  }
  .wrap .content_wrap .pageMobile{
    display: block!important;
  }
  .wrap .content_wrap .pageMobile .el-pagination .el-pager .number{
    width: 10px!important;
    background: initial!important;
    font-size: 16px;
  }
  .wrap .content_wrap .pageMobile .el-pagination .el-pager .number.active{
    font-size: 18px!important;
    color: #815b3f !important;
  }
  .wrap .content_wrap .pageMobile .el-pagination .more{
    width: 10px!important;
  }
  .wrap .content_wrap .pageMobile .el-pagination .el-pager li{
    margin: 0!important;
  }
  .wrap .center .container .content_wrap .content{
    margin: 0 10px!important;
  }
  .wrap .center .container .content_wrap .content .lCont .box .desc_wrap .title{
    padding-top: 15px;
    width: 100%!important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .wrap .center .container .content_wrap .content .lCont .box .desc_wrap .desc{
    margin: 10px 0 !important;
  }
}
.wrap .content_wrap .pagePC{
  display: block;
}
.wrap .content_wrap .pageMobile{
  display: none;
}
.wrap{
    width: 100%;
    background: url('../images/bg.jpg') no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .searchPanel{
      background: #fff;
      padding:20px;
      display: flex;
      justify-content: space-between;
  }
  .resultRed{
      color: red;
  }
    .wrap .center {
      width: 1230px;
      margin: 30px auto;
      padding-bottom: 50px;
    }
    .wrap .center .Breadcrumb span {
      font-size: 14px;
      color: #333333;
    }
    .wrap .center .Breadcrumb .black {
    }
  
    .wrap .center .Breadcrumb .black:hover{
      cursor: pointer;
      color: #704c2f;
    }
    .wrap .center .container .row_title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px 0;
    }
    .wrap .center .container .row_title .imgs {
      width: 24px;
      height: 40px;
    }
    .wrap .center .container .row_title .imgs img {
      width: 100%;
      height: 100%;
      vertical-align: middle;
    }
    .wrap .center .container .row_title .name {
      font-size: 32px;
      font-weight: bold;
      color: #575757;
      padding: 0 40px;
      cursor: pointer;
      font-family: 'St';
    }
    .wrap .center .container .tabs {
      display: flex;
      justify-content: center;
    }
    .wrap .center .container .tabs .tab {
      display: flex;
      align-items: center;
      margin-right: 30px;
    }
    .wrap .center .container .tabs .tab .imgs {
      width: 10px;
      height: 46px;
    }
    .wrap .center .container .tabs .tab .imgs img {
      width: 100%;
      height: 100%;
      vertical-align: middle;
    }
    .wrap .center .container .tabs .tab .l {
      background: url('../images/l-1.png') no-repeat;
    }
    .wrap .center .container .tabs .tab .r {
      background: url('../images/r-1.png') no-repeat;
    }
    .wrap .center .container .tabs .tab .l.active {
      background: url('../images/backl.png') no-repeat;
    }
    .wrap .center .container .tabs .tab .r.active {
      background: url('../images/backr.png') no-repeat;
    }
    .wrap .center .container .tabs .tab .text {
      width: 285px;
      height: 47px;
      line-height: 47px;
      background: url('../images/tab_child.png') no-repeat;
      text-align: center;
      color: #086252;
      cursor: pointer;
      background-size: 100% 100%;
    }
    .wrap .center .container .tabs .tab .text.active {
      color: #fff;
      background: url('../images/tab_child_active.png') no-repeat;
      background-size: 100% 100%;
    }
    .wrap .center .container .content_wrap {
      /* display: none; */
    }
    .wrap .center .container .content_wrap .content {
      padding: 38px 0;
      display: flex;
      justify-content: space-between;
    }
    .wrap .center .container .content_wrap .content .lCont {
      /* width: 860px; */
      width: 100%;
    }
    .wrap .center .container .content_wrap .content .lCont .box {
      /* display: flex;
      align-items: center;
      justify-content: space-between; */
      height: 200px;
      padding: 24px 0;
      box-sizing: border-box;
      cursor: pointer;
      border-bottom: 1px solid #cccccc;
      position: relative;
    }
    .wrap .center .container .content_wrap .content .lCont .box.active{
      background: #fff;
      /* border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc; */
      position: relative;
    }
    .wrap .center .container .content_wrap .content .lCont .box.active .leftIcon{
      position: absolute;
      left: 0;
      top: 0;
      width: 89px;
      height: 200px;
      background: url('../images/leftBck.png') no-repeat;
      content: '';
      display: block;
    }
    .wrap .center .container .content_wrap .content .lCont .box.active .rightIcon{
      position: absolute;
      right: 0;
      top: 0;
      width: 89px;
      height: 200px;
      background: url('../images/rightBack.png') no-repeat;
      content: '';
      display: block;
    }
    .wrap .center .container .content_wrap .content .lCont .box .desc_wrap .title {
      font-size: 20px;
      color: #333333;
      font-weight: bold;
    }
    .wrap .center .container .content_wrap .content .lCont .box .desc_wrap .title.active{
      color: #815b3f;
    }
    .wrap .center .container .content_wrap .content .lCont .box .desc_wrap .desc {
      font-size: 14px;
      color: #333333;
      margin: 25px 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .wrap .center .container .content_wrap .content .lCont .box .desc_wrap .time {
      font-size: 14px;
      color: #666666;
    }
    .wrap .center .container .content_wrap .content .rCont {
      width: 344px;
    }
    .wrap .center .container .content_wrap .content .rCont .backImg {
      width: 344px;
      height: 190px;
      line-height: 190px;
      font-size: 36px;
      text-align: center;
      color: #815b3f;
      background: url('../images/news_top.jpg') no-repeat;
    }
    .wrap .center .container .content_wrap .content .rCont .recommend {
      padding: 18px 15px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-top: none;
      color: #333333;
      background: rgba(255,255,255,.8);
    }
    .wrap .center .container .content_wrap .content .rCont .recommend:hover{
      cursor: pointer;
      color: #815b3f;
    }
    .wrap .center .container .content_wrap .box::after {
      content: '';
      width: 33.3%;
    }
    .wrap .center .container .content_wrap .box_wrap {
      margin-top: 37px;
      display: flex;
      flex-wrap: wrap;
    }
    .wrap .center .container .content_wrap .box_wrap .box {
      width: 33.3%;
      border: 1px solid #cccccc;
      box-sizing: border-box;
      padding: 24px;
    }
    .wrap .center .container .content_wrap .box_wrap .box .imgs {
      height: 202px;
      background: #ccc;
    }
    .wrap .center .container .content_wrap .box_wrap .box .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      font-weight: bold;
      color: #333333;
      margin-top: 20px;
    }
    .wrap .center .container .content_wrap .box_wrap .box .desc {
      margin-top: 5px;
      font-size: 14px;
      color: #666666;
    }
    .wrap .center .container .content_wrap .box_wrap .box .time {
      font-size: 12px;
      color: #505050;
      margin-top: 15px;
    }
    ._page_container{
      /* justify-content: flex-start!important;
      margin-left: 30px; */
    }
  
    .wrap .container .memorabilia .dynamic {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 20px 0 51px 0;
    }
    .wrap .container .memorabilia .dynamic .box {
      width: 390px;
      height: 310px;
      background: url('../images/memorabilia_box.png') no-repeat;
      padding: 5px;
      box-sizing: border-box;
      margin-bottom: 30px;
      cursor: pointer;
    }
    .wrap .container .memorabilia .dynamic .box .box_child{
      width: 100%;
      height: 100%;
      background: #fff;
    }
    .wrap .container .memorabilia .dynamic .box .box_child .img{
      width: 100%;
      height: 225px;
      background: url('../images/memorabilia_photo.png') no-repeat;
      padding-top: 1px;
    }
    .wrap .container .memorabilia .dynamic .box .box_child .img .timeBox{
      width: 54px;
      height: 54px;
      background: url('../images/g_box.png') no-repeat;
      text-align: center;
      margin-top: 23px;
      margin-left: 19px;
    }
    .wrap .container .memorabilia .dynamic .box:hover .box_child .img .timeBox{
      background: url('../images/g_box_active.png') no-repeat;
    }
    .wrap .container .memorabilia .dynamic .box:hover .box_child .text{
      color: #815b3f;
    }
    .wrap .container .memorabilia .dynamic .box .box_child .img .timeBox .time{
      font-size: 24px;
      color: #fff;
    }
    .wrap .container .memorabilia .dynamic .box .box_child .img .timeBox .year{
      font-size: 12px;
      color: #ffffff;
    }
    .wrap .container .memorabilia .dynamic .box .box_child .textWrap{
      /* padding: 21px 18px; */
      font-size: 16px;
      box-sizing: border-box;
      background: #fff;
    }
    .wrap .container .memorabilia .dynamic .box .box_child .textWrap .text{
        margin: 26px 35px;
        width: 284px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .wrap .container .memorabilia .dynamic .box .boxSolid{
      width: 100%;
      height: 100%;
      border: 1px solid #815b3f;
      box-sizing: border-box;
      background: #fff;
      padding: 21px 18px;
    }
    .wrap .container .memorabilia .dynamic .box .boxSolid .textCont{
      padding-bottom: 20px;
      border-bottom: 1px solid #e5e5e5;
    }
    .wrap .container .memorabilia .dynamic .box .boxSolid .textCont .color{
      font-size: 16px;
      color: #815b3f;
    }
    .wrap .container .memorabilia .dynamic .box .boxSolid .textCont .desc{
      font-size: 14px;
      color: #999999;
      margin-top: 19px;
      padding-bottom: 10px;
      
    }
    .wrap .container .memorabilia .dynamic .box .boxSolid .bottom{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 14px;
    }
    .wrap .container .memorabilia .dynamic .box .boxSolid .bottom .l_time_box{
      width: 54px;
      height: 54px;
      background: url('../images/left_icon1.png') no-repeat;
      background-size: 100% 100%;
      text-align: center;
    }
    .wrap .container .memorabilia .dynamic .box .boxSolid .bottom .youjiantou{
      width: 20px;
      height: 14px;
      background: url('../images/youjiantou.png') no-repeat;
    }
    .wrap .container .memorabilia .dynamic .box .boxSolid .bottom .l_time_box .time{
      font-size: 24px;
      color: #999999;
    }
    .wrap .container .memorabilia .dynamic .box .boxSolid .bottom .l_time_box .year{
      font-size: 12px;
      color: #999999;
    }
  
    /* 视频中心 */
    .wrap  .container .content .videoWrap{
      margin-bottom: 70px;
    }
      .wrap  .container .content .videoWrap .dynamic {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 20px 0 51px 0;
    }
      .wrap  .container .content .videoWrap .dynamic .box {
      width: 390px;
      height: 310px;
      background: url('../images/memorabilia_box.png') no-repeat;
      padding: 5px;
      box-sizing: border-box;
      margin-bottom: 30px;
    }
      .wrap  .container .content .videoWrap .dynamic .box .box_child{
      width: 100%;
      height: 100%;
      background: #fff;
    }
      .wrap  .container .content .videoWrap .dynamic .box .box_child .img{
      width: 100%;
      height: 225px;
      background: url('../images/video_photo.jpg') no-repeat;
      padding-top: 1px;
      position: relative;
    }
    .wrap  .container .content .videoWrap .dynamic .box .box_child .img .play_icon{
      width: 100px;
      height: 100px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      background: url('../images/play.png') no-repeat;
      cursor: pointer;
    }
      .wrap  .container .content .videoWrap .dynamic .box .box_child .img .timeBox{
      width: 54px;
      height: 54px;
      background: url('../images/g_box.png') no-repeat;
      text-align: center;
      margin-top: 23px;
      margin-left: 19px;
    }
      .wrap  .container .content .videoWrap .dynamic .box .box_child .textWrap{
      /* padding: 21px 18px; */
      font-size: 18px;
      color: #333333;
      box-sizing: border-box;
      background: #fff;
    }
      .wrap  .container .content .videoWrap .dynamic .box .box_child .textWrap .text{
        margin: 19px;
        font-weight: bold;
    }
      .wrap  .container .content .videoWrap .dynamic .box .boxSolid{
      width: 100%;
      height: 100%;
      border: 1px solid #815b3f;
      box-sizing: border-box;
      background: #fff;
      padding: 21px 18px;
    }
      .wrap  .container .content .videoWrap .dynamic .box .boxSolid .textCont{
      padding-bottom: 20px;
      border-bottom: 1px solid #e5e5e5;
    }
      .wrap  .container .content .videoWrap .dynamic .box .boxSolid .textCont .color{
      font-size: 16px;
      color: #815b3f;
    }
      .wrap  .container .content .videoWrap .dynamic .box .boxSolid .textCont .desc{
      font-size: 14px;
      color: #999999;
      margin-top: 19px;
      padding-bottom: 10px;
      
    }
      .wrap  .container .content .videoWrap .dynamic .box .boxSolid .bottom{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 14px;
    }
      .wrap  .container .content .videoWrap .dynamic .box .boxSolid .bottom .l_time_box{
      width: 54px;
      height: 54px;
      background: url('../images/left_icon1.png') no-repeat;
      background-size: 100% 100%;
      text-align: center;
    }
      .wrap  .container .content .videoWrap .dynamic .box .boxSolid .bottom .youjiantou{
      width: 20px;
      height: 14px;
      background: url('../images/youjiantou.png') no-repeat;
    }
      .wrap  .container .content .videoWrap .dynamic .box .boxSolid .bottom .l_time_box .time{
      font-size: 24px;
      color: #999999;
    }
      .wrap  .container .content .videoWrap .dynamic .box .boxSolid .bottom .l_time_box .year{
      font-size: 12px;
      color: #999999;
    }







    .headPhoto {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
    }
    .headPhoto .box .block .hover:hover .box_child{
        display: none;
    }
    .headPhoto .box .block .hover:hover .box_active_wrap{
        display: block;
        margin-left: 5px;
    }
    .headPhoto .box {
        width: 190px;
        height: 392px;
        background: #fff;
        padding-top: 5px;
        cursor: pointer;
    }
    .headPhoto .box .box_child {
        width: 180px;
        height: 295px;
        margin: 0 auto;
        display: block;
        text-align: center;
        background: url('../images/info_border.png') no-repeat;
        background-size: 100% 100%;
    }
    .headPhoto .box .box_child .pad{
        padding: 17px;
    }
    .headPhoto .box .box_child .img {
        width: 140px;
        height: 196px;
        margin: 0 auto;
    }
    .headPhoto .box .box_child .img img {
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
    .headPhoto .box .box_child .name {
        font-size: 20px;
        color: #815b3f;
        padding-top: 12px;
    }
    .headPhoto .box .box_child .position {
        font-size: 14px;
        color: #999999;
        padding-top: 10px;
    }
    .headPhoto .box .box_active_wrap{
        width: 185px;
        height: 295px;
        display: none;
        margin: 0 auto;
        background: url('../images/b-border.jpg') no-repeat;
    }
    .headPhoto .box .box_active {
    
    }
    .headPhoto .box .box_active .descWrap{
        padding: 20px;
    }
    .headPhoto .box .box_active .title {
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        margin: 10px 0;
    }
    .headPhoto .box .box_active .text {
        font-size: 14px;
        color: #edded3;
    }
    .headPhoto .box .back_bord {
        padding: 3px;
        margin: 5px 0;
    }
    .headPhoto .box .back_bord .back {
        width: 180px;
        height: 41px;
        line-height: 41px;
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        color: #333333;
        background: url('../images/info_back.png') no-repeat;
        background-size: 100% 100%;
    }
    .headPhoto .box .back_bord .back:hover{
        color: #815b3f;
        background: url('../images/info_back_active.png') no-repeat;
    }
    .headPhoto .box .back_row {
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    .headPhoto .box .back_row .cel_o {
        width: 80px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        font-size: 14px;
        color: #ffffff;
        background: url('../images/left_name.png') no-repeat;
    }
    .headPhoto .box .back_row .cel_o:hover{
        background: url('../images/left_name_active.png') no-repeat;
    }
    .headPhoto .box .back_row .cel_t {
        width: 80px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        font-size: 14px;
        color: #ffffff;
        background: url('../images/right_name.png') no-repeat;
    }
    .headPhoto .box .back_row .cel_t:hover{
        background: url('../images/right_name_active.png') no-repeat;
    }